# Python specific
__pycache__/
*.pyc
.pytest_cache/

# Virtual Environment
venv/
env/

# Environment Variables
.env

# JSON file
spotify_tokens.json

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
